@using prj.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-slate.min.css">
    <link href="~/Content/form.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css">*@
    <script src="~/Scripts/jquery-2.1.1.js"></script>


</head>
        


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">Time In</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    
                    
                        @if (Session["userEmail"] != null)
                        {
                            <li>
                                @Html.ActionLink("About Us", "AboutUs", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Catagories", "Catagory", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Offers", "Offer", "Home")
                            </li>
                    
                            <li>
                                @Html.ActionLink("Search", "Search", "Home")
                            </li>

                            <li>
                                @Html.ActionLink("Feedback", "Feedback", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("LogOut", "LogOut", "Account")
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("About Us", "AboutUs", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Login", "LogIn", "Account")
                            </li>
                            <li>
                                @Html.ActionLink("Signup", "SignUp", "Account")
                            </li>
                        }
                    
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        @RenderBody()
    
    
        <footer class="navbar-fixed-bottom">
            <div class="row">
                <div class="col-md-12">
                    <p >Time In&copy 2015</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery-2.1.4.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Scripts/carousel.js"></script>
    

    </body>
</html>
